<div class="bg-[#BF9E75] h-screen flex flex-col items-center">
    <div class="flex flex-row gap-40">
        <div class="realtive w-full h-screen bg-[#261423]">
            <div class="absolute left-0 mx-17 mt-16 h-60 w-[350px] bg-gradient-to-r from-[#BF9E75] to-[#261423] rounded-r-full rotate-18 flex items-end">
                <img src="assets/me.png" 
                alt="ph_me"
                class="-rotate-18"/>
            </div>

        </div>
    </div>
    <div id="data">d
    </div>
    <div id="skills">s

    </div>

</div>