<body>
    <div id="home" class="flex flex-row justify-around">

        <div class="flex flex-col">
            <div class="flex justify-start gap-48 items-center h-[35px] w-[650px] bg-main dark:bg-secondary mt-28 rounded-t-2xl">
                <div class="flex flex-row gap-2 mx-2">  
                    <div class="bg-red-500 h-3.5 w-3.5 rounded-full"></div>
                    <div class="bg-yellow-400 h-3.5 w-3.5 rounded-full"></div>
                    <div class="bg-green-500 h-3.5 w-3.5 rounded-full"></div>
                </div> 
                <div class="flex justify-center items-center">
                    <h1 class="text-secondary dark:text-main">Dev Miguel Angel</h1>
                </div>
            </div>
            <div class="h-[250px] w-[650px] bg-buttonS dark:bg-button rounded-b-xl">
                <div class="flex flex-row mx-8 my-6">
                    <p class="text-wrap text-xl font-mono text-secondary dark:text-main">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-around m-20">
        <div class="flex flex-col items-start justify-start w-96 gap-3">
            <h1 class="font-sans text-3xl">FullStack Developer</h1>
            <p class="flex flex-row text-wrap justify-start text-xl">Soy Miguel Ángel, desarrollador Full Stack en formación con experiencia en Angular, React, JavaScript, TypeScript, Python, SQL, Git y Docker. Me especializo en desarrollo web y creación de aplicativos funcionales.</p>
        </div>

        <div class="flex justify-center items-center">
            <button>Download CV</button>
        </div>
    </div>
</body>