<body>
    <div id="home" class="flex flex-row justify-center gap-16 mt-8">

        <div class="flex flex-col justify-around items-end mt-20 text-main dark:text-secondary">
            <svg class="w-96 h-96">
                <use href="assets/figura.svg"></use>
            </svg>
        </div>

        <div class="flex flex-col drop-shadow-black dark:drop-shadow-white">
            <div
                class="flex justify-start gap-36 items-center lg:h-[35px] lg:w-[550px] bg-main dark:bg-secondary mt-28 rounded-t-2xl">
                <div class="flex flex-row gap-2 mx-3">
                    <div class="bg-red-500 h-3.5 w-3.5 rounded-full"></div>
                    <div class="bg-yellow-400 h-3.5 w-3.5 rounded-full"></div>
                    <div class="bg-green-500 h-3.5 w-3.5 rounded-full"></div>
                </div>
                <div class="flex justify-center items-center">
                    <h1 class="text-secondary dark:text-main">Dev Miguel Angel</h1>
                </div>
            </div>
            <div class="lg:h-[250px] lg:w-[550px] bg-buttonS dark:bg-button rounded-b-xl">
                <div class="flex flex-row mx-8 my-6">
                    <p class="text-wrap text-xl font-mono text-secondary dark:text-main">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-around my-24 mx-20">
        <div class="flex flex-col items-start justify-start w-96 gap-3">
            <h1 class="font-sans text-3xl">Full-stack Developer</h1>
            <p class="flex flex-row text-wrap justify-start text-xl font-extralight">Hi, I'm Miguel Ángel — a Full Stack
                developer in training with hands-on experience in Angular, Tailwind, React, JavaScript, TypeScript,
                Python, SQL, Git, Docker, HTML, and CSS. I specialize in web development and building functional,
                user-focused applications.
            </p>
        </div>

        <div class="flex flex-col justify-center items-center gap-5 ">
            <button>Download CV</button>
            <div class="flex flex-row items-center justify-center gap-2.5">
                <h1 class="font-extralight">Follow me</h1>
                <a href="https://github.com/MiguelGarzon11" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"
                        fill="currentColor">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 
                  0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52
                  -.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07
                  -1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 
                  0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 
                  2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 
                  2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 
                  1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 
                  8.013 0 0016 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/miguelangelgarz%C3%B3n/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path d="M20.447 20.452H17.21V14.8c0-1.344-.026-3.075-1.875-3.075-1.876 0-2.163 
                  1.462-2.163 2.973v5.754H9.935V9h3.103v1.561h.045c.432-.818 
                  1.49-1.679 3.065-1.679 3.279 0 3.882 2.158 3.882 
                  4.967v6.603zM5.337 7.433a1.802 1.802 0 1 
                  1 0-3.604 1.802 1.802 0 0 1 0 3.604zM6.813 
                  20.452H3.861V9h2.952v11.452zM22.225 
                  0H1.771C.792 0 0 .774 0 1.729v20.542C0 
                  23.226.792 24 1.771 24h20.451C23.2 24 24 
                  23.226 24 22.271V1.729C24 .774 23.2 0 22.222 
                  0h.003z" />
                    </svg>

                </a>
            </div>
        </div>
    </div>

    <div id="projects" class="flex justify-center items-center m-10">
        <app-projects></app-projects>
    </div>

    <div id="skills" class="flex justify-center items-center m-10 p-10">
        <app-skills></app-skills>
    </div>
</body>