@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-main: #222326;
  --color-secondary: #d7d7d9;
  --color-button: #9fa3a6;
  --color-buttonS: #3c3d40;
}

@layer base {
  body {
    @apply bg-secondary dark:bg-main;
    @apply text-black dark:text-white;
    @apply h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply text-black dark:text-white font-sans font-bold;
    @apply hover:scale-110 transition-all duration-300;
    @apply flex flex-row gap-2 items-center;
  }

  hr {
    @apply h-px w-11/12 bg-gradient-to-r from-transparent via-buttonS to-transparent border-0 dark:via-white;
  }

  footer {
    @apply h-40 flex flex-row justify-between mx-28 mt-3;
  }

  button {
    @apply text-white dark:text-black h-10 w-48 bg-main dark:bg-secondary rounded-lg hover:bg-;
  }
}
