@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-main: #222326;
  --color-secondary: #d7d7d9;
  --color-button: #9fa3a6;
  --color-buttonS: #3c3d40;
}

@layer base {
  body {
    @apply bg-secondary dark:bg-main;
    @apply text-black dark:text-white;
    @apply h-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply text-black dark:text-white font-sans font-bold;
    @apply hover:scale-110 transition-all duration-300;
    @apply flex flex-row gap-2 items-center;
  }

  hr {
    @apply h-px w-11/12 bg-gradient-to-r from-transparent via-buttonS to-transparent border-0 dark:via-white;
  }

  footer {
    @apply h-40 flex flex-row justify-between mx-28 mt-3;
  }

  button {
    @apply text-white text-lg font-semibold dark:text-black h-10 w-48 bg-main dark:bg-secondary rounded-lg hover:bg-buttonS hover:dark:bg-white hover:border-spacing-3 border-main hover:scale-105 transition-all duration-300;
  }

  textarea {
    @apply bg-white text-black w-72 max-h-48 min-h-28 text-sm text-wrap rounded-lg p-3 hover:scale-105 transition-all duration-300 border-main mt-3;
  }

  input {
    @apply bg-white text-black w-72 h-10 text-sm text-wrap rounded-lg p-3 hover:scale-105 transition-all duration-300 border-main -mt-1;
  }

  #project {
    @apply drop-shadow-black dark:drop-shadow-white hover:scale-105 transition-all duration-300;
  }

  #button {
    @apply text-sm bg-button text-white dark:bg-main dark:text-white hover:bg-secondary dark:hover:bg-buttonS hover:text-white;
  }

  #sendmessage {
    @apply hover:drop-shadow-white mb-10 hover:scale-90 transition-all duration-500;
  }

  #sendmessage2 {
    @apply text-secondary dark:text-main hover:drop-shadow-white mb-10 hover:scale-90 transition-all duration-500;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}
