<footer id="footer" class="  text-white p-8 flex flex-col justify-center items-center font-serif font-medium text-l">
    <section class="flex space-x-5 items-center justify-center p-0 mb-5">
        <a href="https://github.com/MiguelGarzon11" target="_blank" rel="noopener noreferrer">
            <svg class="w-[50px] h-[50px] hover:shadow-xl/35 shadow-white rounded-full hover:scale-105 transition-all duration-300">
                <use href="assets/icons.svg#icon-github"></use>
            </svg>
        </a>

        <a href="https://www.linkedin.com/in/miguelangelgarz%C3%B3n/" target="_blank" rel="noopener noreferrer">
            <svg class="w-[50px] h-[50px] hover:shadow-xl/35 shadow-cyan-600 hover:scale-105 transition-all duration-300">
                <use href="assets/icons.svg#icon-linkedin"></use>
            </svg>
        </a>
    </section>

    <h4>© Todos los derechos reservados Miguel Angel Garzón Becerra</h4>
</footer>